body {
	background-color: darkred;
	color: darkgreen;
}

ol {
	font-size: 40px;
	padding: 100px;
	border: 
	margin: ;
}

img {
	width: 670px;
	border :solid 30px;
	border-color: green;
}

