
/*
*

* Title: Eine Webseite über Geschäfte;
* Author: Benard Bala;
* Date: 09.05.2022;
*
*/


/**************General Styling****************/
footer {
	background: rgb(82, 112, 112);
	background: linear-gradient(0deg, rgba(82,112,112,1) 0%, rgba(96,84,60,1) 100%);

}
body{
	margin: 0;
	background: rgb(82,112,112);
background: linear-gradient(0deg, rgba(82,112,112,1) 0%, rgba(96,84,60,1) 100%);

}
/*Navigation */
li a {


  margin-top: 100px;
  margin-bottom: 100px
  margin-right: 150px;
  margin-left: 80px;
 

}

nav{
	background: rgb(82,112,112);
background: linear-gradient(0deg, rgba(82,112,112,1) 0%, rgba(96,84,60,1) 100%);
	padding: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav img{
	height:80px;
	border-radius: 50%;
}

nav ul {
	display: flex;
	justify-content:flex-end;
	align-items: center;
	list-style-type: none;

}






/***************************************** Styling Page ******************************************/
/*Home Page*/


/************************************** Europa **************************/


