@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&family=Noto+Serif+JP:wght@900&family=Open+Sans:ital,wght@1,300&family=Shizuru&family=Source+Code+Pro:ital,wght@1,300&family=Yellowtail&display=swap');
header {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(80,200,203);
    background: linear-gradient(282deg, rgba(80,200,203,1) 0%, rgba(72,8,164,1) 0%, rgba(169,102,93,1) 0%, rgba(85,117,174,1) 0%, rgba(155,145,152,1) 0%, rgba(91,134,19,1) 0%, rgba(86,98,183,1) 0%, rgba(115,201,126,1) 0%, rgba(213,135,78,1) 0%, rgba(213,135,78,1) 0%, rgba(185,174,85,1) 0%, rgba(80,200,203,1) 0%, rgba(182,98,217,1) 0%, rgba(95,209,178,1) 0%, rgba(81,228,172,1) 0%, rgba(168,198,89,1) 2%, rgba(252,81,69,1) 4%, rgba(199,154,81,1) 4%, rgba(71,100,241,1) 22%, rgba(110,98,208,1) 77%, rgba(231,78,114,1) 88%, rgba(225,91,109,1) 92%, rgba(231,78,114,1) 93%, rgba(192,164,83,1) 95%, rgba(131,58,180,1) 96%, rgba(80,200,203,1) 98%, rgba(126,239,104,1) 100%, rgba(200,53,65,1) 100%, rgba(252,81,69,1) 100%, rgba(240,90,79,1) 100%, rgba(178,132,127,1) 100%, rgba(80,200,203,1) 100%, rgba(96,80,203,1) 100%);
    background-image: url("skateboard.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: black;
}

header h1 {
	
	  background: linear-gradient(282deg, rgba(80,200,203,1) 0%, rgba(72,8,164,1) 0%, rgba(169,102,93,1) 0%, rgba(85,117,174,1) 0%, rgba(155,145,152,1) 0%, rgba(91,134,19,1) 0%, rgba(86,98,183,1) 0%, rgba(115,201,126,1) 0%, rgba(213,135,78,1) 0%, rgba(213,135,78,1) 0%, rgba(185,174,85,1) 0%, rgba(80,200,203,1) 0%, rgba(182,98,217,1) 0%, rgba(95,209,178,1) 0%, rgba(81,228,172,1) 0%, rgba(168,198,89,1) 2%, rgba(252,81,69,1) 4%, rgba(199,154,81,1) 4%, rgba(71,100,241,1) 22%, rgba(110,98,208,1) 77%, rgba(231,78,114,1) 88%, rgba(225,91,109,1) 92%, rgba(231,78,114,1) 93%, rgba(192,164,83,1) 95%, rgba(131,58,180,1) 96%, rgba(80,200,203,1) 98%, rgba(126,239,104,1) 100%, rgba(200,53,65,1) 100%, rgba(252,81,69,1) 100%, rgba(240,90,79,1) 100%, rgba(178,132,127,1) 100%, rgba(80,200,203,1) 100%, rgba(96,80,203,1) 100%);
	padding: 40px;
	border-radius: 20px;
	font-family: Shizuru;


}

main {
	padding: 100px;
    background: rgb(80,200,203);
    background: linear-gradient(282deg, rgba(80,200,203,1) 0%, rgba(72,8,164,1) 0%, rgba(169,102,93,1) 0%, rgba(85,117,174,1) 0%, rgba(155,145,152,1) 0%, rgba(91,134,19,1) 0%, rgba(86,98,183,1) 0%, rgba(115,201,126,1) 0%, rgba(213,135,78,1) 0%, rgba(213,135,78,1) 0%, rgba(185,174,85,1) 0%, rgba(80,200,203,1) 0%, rgba(182,98,217,1) 0%, rgba(95,209,178,1) 0%, rgba(81,228,172,1) 0%, rgba(71,100,241,1) 0%, rgba(168,198,89,1) 2%, rgba(252,81,69,1) 4%, rgba(199,154,81,1) 4%, rgba(195,80,203,1) 51%, rgba(110,98,208,1) 87%, rgba(231,78,114,1) 88%, rgba(225,91,109,1) 92%, rgba(231,78,114,1) 93%, rgba(192,164,83,1) 95%, rgba(131,58,180,1) 96%, rgba(126,239,104,1) 100%, rgba(200,53,65,1) 100%, rgba(252,81,69,1) 100%, rgba(240,90,79,1) 100%, rgba(178,132,127,1) 100%, rgba(80,200,203,1) 100%, rgba(96,80,203,1) 100%);
}

main p {
	columns: 2;

}

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
	background-image: url("water.jpg");
	background-size: cover;
	background-position: center;


}

footer p {
	padding: 20px;
	background-color: rgba(255,255,255, 0.6);
	border-radius: 20px;
}

#Sport {
     height:200px;
     display:flex;
     justify-content:space-between;
     align-items:stretch;
     background-image: url(sport.jpg);
     background-size: cover;
     background-position: center;
     border:20px double red;
}

#Sport h2 {
	background-color: red;
	padding: 30px;
}